binds {
    XF86Launch5 { spawn-sh "niri msg action switch-layout 1"; }
    XF86Tools { spawn-sh "niri msg action switch-layout 0"; }
    Mod+Escape { toggle-keyboard-shortcuts-inhibit; }
    Mod+comma { spawn "gnome-clocks"; }
    Mod+J {spawn "zathura" "~/Documents/books/social/emotional-intellect/nonviolent-communication/Nonviolent Communication 2015.pdf";}
    Mod+Return { spawn "footclient"; }
    Mod+D { close-window; }
    Mod+W { spawn "~/sh/waybar.sh";}

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+O   { focus-workspace-down; }
    Mod+U   { focus-workspace-up; }
    Mod+Shift+A     { focus-monitor-down; }
    Mod+Shift+E     { focus-monitor-up; }
    Mod+Alt+I { focus-monitor-right; }
    Mod+Alt+H { focus-monitor-left; }
    Mod+H { focus-column-left; }
    Mod+I { focus-column-right; }
    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }

    Alt+H { focus-column-left; }
    Alt+I { focus-column-right; }

    //Mod+T { spawn "~/.config/niri/scripts/focus.sh" "telegram";}
    Mod+S { spawn "systemctl" "suspend";}
    Mod+C { power-off-monitors;}

    Alt+F { maximize-column; }
    Mod+F { maximize-window-to-edges; }
    Mod+Shift+F { fullscreen-window; }

    Ctrl+Space { spawn "rofi" "-show" "drun" "-show-icons"; }
    Mod+R { spawn "rofi" "-show" "drun" "-show-icons" ; }

    Ctrl+Alt+L { spawn "swaylock"; }
    Mod+P { spawn "zen-twilight" "-P" "aljustiet"; }
    Mod+K { spawn "helium" "--password-store=basic"; }
    Ctrl+M { spawn "dash" "-c" "rofi -modi clipboard:~/git/cliphist/contrib/cliphist-rofi-img -show clipboard -show-icons" ;}
    Mod+Space { spawn "rofi" "-show" "window" "-show-icons" ;}
    Mod+N { spawn "swaync-client" "-t" "-sw" ;}
    Ctrl+Apostrophe { spawn "bemoji" "--noline" "--clip" ;}

    Mod+Shift+P { power-off-monitors; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+I { move-column-right; }

    Mod+T repeat=false { toggle-overview; }

    Mod+Shift+Slash { show-hotkey-overlay; }

    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.04+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.04-"; }
    Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"; }
    Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--quiet" "s" "10%-"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--quiet" "s-" "10%+"; }
    Shift+XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--quiet" "s" "1%-"; }
    Shift+XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--quiet" "s" "1%+"; }

    Mod+Alt+O         { move-column-to-workspace-down; }
    Mod+Alt+U         { move-column-to-workspace-up; }

    Mod+Backspace { focus-workspace-previous; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Ctrl+Alt+Delete { quit; }
}
