binds {
    Mod+Return { spawn "footclient"; }
    Mod+B { close-window; }

    Mod+O   { focus-workspace-down; }
    Mod+U   { focus-workspace-up; }
    Mod+Shift+A     { focus-monitor-down; }
    Mod+Shift+E     { focus-monitor-up; }
    Mod+H { focus-column-left; }
    Mod+A { focus-column-right; }
    Mod+I { focus-column-right; }

    Mod+T { spawn "~/.config/niri/scripts/focus.sh" "telegram";}
    Mod+M { spawn "~/.config/niri/scripts/focus.sh" "mail";}
    Mod+D { spawn "~/.config/niri/scripts/focus.sh" "discord";}
    Mod+X { spawn "~/.config/niri/scripts/focus.sh" "keepassxc";}
    Mod+S { spawn "~/.config/niri/scripts/focus.sh" "browser";}

    Alt+F { maximize-column; }
    Mod+F { maximize-window-to-edges; }
    Mod+Shift+F { fullscreen-window; }

    Ctrl+Space { spawn "rofi" "-show" "drun" "-show-icons"; }
    Mod+R { spawn "rofi" "-show" "drun" "-show-icons" ; }

    Ctrl+Alt+L { spawn "swaylock"; }
    Mod+K { spawn "zen" "-P" "aljustiet"; }
    Ctrl+Shift+M { spawn "dash" "-c" "cliphist list | rofi -dmenu -i | cliphist decode | wl-copy" ;}
    Mod+Space { spawn "rofi" "-show" "window" "-show-icons" ;}
    Mod+N { spawn "swaync-client" "-t" "-sw" ;}
    Ctrl+Apostrophe { spawn "bemoji" "--noline" "--type" "--clip" ;}

    Mod+Shift+P { power-off-monitors; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+I { move-column-right; }

    Mod+Q repeat=false { toggle-overview; }

    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }

    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"; }
    Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--quiet" "s" "10%-"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--quiet" "s-" "10%+"; }
    Shift+XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--quiet" "s" "1%-"; }
    Shift+XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--quiet" "s" "1%+"; }

    Mod+Alt+O         { move-column-to-workspace-down; }
    Mod+Alt+U         { move-column-to-workspace-up; }

    Mod+Backspace { focus-workspace-previous; }

    Mod+Period repeat=true { consume-window-into-column; }
    Mod+Comma repeat=true { expel-window-from-column; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Ctrl+Alt+Delete { quit; }
}
