spawn-at-startup "dash" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "dash" "-c" "wl-paste --type image --watch cliphist store"
spawn-at-startup "waybar"
spawn-at-startup "batsignal"
spawn-at-startup "solaar" "--window=hide"
spawn-at-startup "foot" "--server"
spawn-at-startup "gammastep"
spawn-at-startup "dash" "-c" "pidof batsignal && batsignal"
spawn-at-startup "kdeconnectd"
spawn-at-startup "sh" "-c" "/home/aljustiet/documents/go/bin/niri-screen-time -daemon >/dev/null 2>&1"

workspace "social" {
    open-on-output "HDMI-A-1"
}
workspace "browser" {
    open-on-output "HDMI-A-1"
}
input {
    keyboard {
        xkb {
            layout "us,ru(mac)"
        }
        numlock
    }

    touchpad {
        tap
        dwt
        scroll-factor 0.2
        natural-scroll
        accel-speed 0.0
        accel-profile "flat"
    }

    mouse {
        natural-scroll
        accel-speed 0.0
        accel-profile "flat"
    }

    trackpoint {
        natural-scroll
        accel-speed 0.0
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    mode "1920x1200"
    scale 1.6
    position x=200 y=900
    variable-refresh-rate
}
output "HDMI-A-1" {
    mode "3840x2160"
    scale 2.4
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate
}
output "HDMI-A-1" {
    mode "1920x1080"
    scale 1.6
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate
}
output "DP-2" {
    off
    mode "3840x2160"
    scale 2.4
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate
}
output "DP-1" {
    off
    mode "3840x2160"
    scale 2.4
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate
}

layout {
    gaps 4

    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.9; }

    focus-ring {
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    off
    // slowdown 3.0
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^com\.ayugram\.desktop$"#
    open-on-workspace "social"
}

window-rule {
    match app-id=r#"^tutanota-desktop$"#
    open-on-workspace "social"
}

window-rule {
    match app-id=r#"^vesktop$"#
    open-on-workspace "social"
}

binds {
    Mod+H { focus-column-left; }
    Mod+A { focus-window-down; }

    Mod+B { close-window; }

    Mod+Q repeat=false { toggle-overview; }

    Mod+Shift+A     { focus-monitor-down; }
    Mod+Shift+E     { focus-monitor-up; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+I { move-column-right; }

    //Mod+Shift+A { move-window-down; }
    //Mod+Shift+E { move-window-up; }

    Ctrl+Space { spawn "rofi" "-show" "drun"; }
    Mod+R { spawn "rofi" "-show" "drun"; }

    Mod+Return { spawn "footclient"; }
    Mod+Alt+L { spawn "swaylock"; }
    Mod+K { spawn "zen"; }
    Ctrl+Shift+M { spawn "dash" "-c" "cliphist list | rofi -dmenu -i | cliphist decode | wl-copy" ;}
    Mod+Space { spawn "rofi" "-show" "window" ;}
    Mod+N { spawn "swaync-client" "-t" "-sw" ;}
    Ctrl+Apostrophe { spawn "bemoji" "--noline" "--type" "--clip" ;}

    Mod+T { focus-workspace "social";}
    Mod+Shift+T { move-column-to-workspace "social";}
    Mod+S { focus-workspace "browser";}
    Mod+Shift+S { move-column-to-workspace "browser";}
    Mod+Shift+Slash { show-hotkey-overlay; }

    

    
    Mod+E { focus-window-up; }
    Mod+I { focus-column-right; }
    ALT+H { focus-column-left; }
    ALT+I { focus-column-right; }
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+O   { focus-workspace-down; }
    Mod+U   { focus-workspace-up; }

    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"; }
    Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dash" "-c" "brightnessctl --quiet s 10%-"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "dash" "-c" "brightnessctl --quiet s 10%+"; }
    Shift+XF86MonBrightnessDown allow-when-locked=true { spawn "dash" "-c" "brightnessctl --quiet s 1%-"; }
    Shift+XF86MonBrightnessUp allow-when-locked=true { spawn "dash" "-c" "brightnessctl --quiet s 1%+"; }



    

    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Alt+H     { focus-monitor-left; }
    Mod+Alt+I     { focus-monitor-right; }

    

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Alt+H     { move-column-to-monitor-left; }
    Mod+Shift+Alt+A     { move-column-to-monitor-down; }
    Mod+Shift+Alt+E     { move-column-to-monitor-up; }
    Mod+Shift+Alt+I     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    
    Mod+Alt+Page_Down { move-column-to-workspace-down; }
    Mod+Alt+Page_Up   { move-column-to-workspace-up; }
    Mod+Alt+O         { move-column-to-workspace-down; }
    Mod+Alt+U         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Alt+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Alt+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Alt+WheelScrollRight { move-column-right; }
    Mod+Alt+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Alt+Shift+WheelScrollDown { move-column-right; }
    Mod+Alt+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    Mod+Tab { focus-workspace-previous; }
    Mod+Backspace { focus-workspace-previous; }

    Mod+Period repeat=true { consume-window-into-column; }
    Mod+Comma repeat=true { expel-window-from-column; }

    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    // Mod+Shift+F { maximize-window-to-edges; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-column-width "-1%"; }
    Mod+Shift+Equal { set-column-width "+1%"; }

    Mod+Alt+Minus { set-window-height "-10%"; }
    Mod+Alt+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
environment {
    DISPLAY ":0"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_QPA_PLATFORMTHEME "qt5ct"
    QT_IM_MODULES "wayland;fcitx;ibus"
    XCURSOR_SIZE "32"
    XDG_BACKEND "wayland"
    XDG_CURRENT_DESKTOP "Niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "Niri"
    SDL_VIDEODRIVER "wayland,x11"
    CLUTTER_BACKEND "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    BEMOJI_PICKER_CMD "rofi -dmenu"
    MOZ_ENABLE_WAYLAND "1"
    GDK_BACKEND "wayland,x11"
    GDK_SCALE "2.4"
}
cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 32
    hide-when-typing
    hide-after-inactive-ms 60000
}
