input {
    keyboard {
        xkb {
            layout "us,ru(mac)"
        }
        numlock
    }

    touchpad {
        //tap
        dwt
        scroll-factor 0.2
        natural-scroll
        accel-speed 0.0
        accel-profile "flat"
    }

    mouse {
        natural-scroll
        accel-speed 0.0
        accel-profile "flat"
    }

    trackpoint {
        natural-scroll
        accel-speed 0.0
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="0%"
}
