output "eDP-1" {
    mode "1920x1200"
    scale 1.6
    position x=200 y=900
    variable-refresh-rate
}
output "HDMI-A-1" {
    mode "3840x2160"
    scale 2.4
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate
}
output "HDMI-A-1" {
    mode "1920x1080"
    scale 1.6
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate
}
output "DP-2" {
    off
    mode "3840x2160"
    scale 2.4
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate
}
output "DP-1" {
    off
    mode "3840x2160"
    scale 2.4
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate
}
