theme = "gruvbox_light_hard"
[editor.cursor-shape]
normal = "block" 
insert = "bar" 
select = "underline"
[keys.normal]
h = "move_char_left"
a = "move_visual_line_down"
e = "move_visual_line_up"
i = "move_char_right"
t = "insert_mode"
";" = "command_mode"
C-s = ":w"

[keys.insert]
C-s = ["normal_mode", ":w", "insert_mode"]

[keys.normal.g]
i = "goto_line_end"

[keys.select]
h = "extend_char_left"
a = "extend_line_down"
e = "extend_line_up"
i = "extend_char_right"
