theme = "gruvbox_light"

[editor.cursor-shape]
normal = "block"
insert = "bar"
select = "underline"

[keys.normal]
h = "move_char_left"
a = "move_visual_line_down"
e = "move_visual_line_up"
i = "move_char_right"
t = "insert_mode"
T = "insert_at_line_start"
s = "append_mode"
S = "insert_at_line_end"
";" = "command_mode"
C-s = ":w"
y = "yank_to_clipboard"
p = "paste_clipboard_after"
P = "paste_clipboard_before"

[keys.normal.g]
i = "goto_line_end"

[keys.insert]
C-s = ["normal_mode", ":w", "insert_mode"]

[keys.select]
h = "extend_char_left"
a = "extend_line_down"
e = "extend_line_up"
i = "extend_char_right"
y = "yank_to_clipboard"

[keys.select.g]
i = "goto_line_end"
