theme = "gruvbox_light_hard"
[editor.cursor-shape]
normal = "block" 
insert = "bar" 
select = "underline"
[keys.normal]
h = "move_char_left"
a = "move_visual_line_down"
e = "move_visual_line_up"
i = "move_char_right"

[keys.select]
h = "extend_char_left"
a = "extend_line_down"
e = "extend_line_up"
i = "extend_char_right"
