* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16;
  font-weight: 500;
  margin-left: 2;
}

#workspaces button {
  padding: 4 0;
}

#clock {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 24;
  font-weight: 400;
}

#tray {
  padding-bottom: 12;
}

#battery.text {
  margin-bottom: 8;
}

#pulseaudio.text {
  margin-bottom: 8;
}

#temperature.cpu {
  margin-bottom: 8;
}

#temperature.nvme {
  margin-bottom: 8;
}
